<form action="/validate_card" method="get">
    <input type="text" name="number">
    <input type="submit" value="Validate this card number">
  </form>

<% if @valid == "valid" %>
  <h2> Number: <%= "#{@number}" %> </h2>
  <h3> VALID Card Number </h3>
  <h3> Type: <%= "#{@type}" %> </h3>
<% elsif @valid == "invalid" %>
  <h3> Invalid Card Number </h3>
<% end %>
