<form action="/validate_card" method="get">
    <input type="text" name="number">
    <input type="submit" value="Validate this card number">
  </form>

<% if @valid %>
  <h2> Number: <%= "#{@number}" %> </h2>
  <h3> VALID </h3>
  <h3> Type: <%= "#{@type}" %> </h3>
<% else %>
  <h3> Unknown Card </h3>
<% end %>